---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <header>
    <img
      src={frontmatter.image.url}
      width="300"
      alt={frontmatter.image.alt}
      class="w-full md:w-9/12 lg:w-7/12 rounded-lg dark:drop-shadow-2xl"
    />
    <div class="py-2">
      <p class="text-sm py-0">
        Written on <span class="font-bold"
          >{frontmatter.pubDate.slice(0, 10)}</span
        >
      </p>
      <p class="text-sm py-0">{frontmatter.description}</p>
      <!-- <p class="text-sm py-0 my-0">Written by: {frontmatter.author}</p> -->
    </div>
  </header>
  <article
    class="prose prose-slate md:prose-lg lg:prose-xl dark:prose-invert prose-img:rounded-xl"
  >
    <div class="flex flex-wrap mx-auto">
      {
        frontmatter.tags.map((tag) => (
          <p class="m-2 cursor-pointer rounded-md px-4 py-2 bg-slate-200 hover:bg-slate-50 dark:bg-violet-400 dark:hover:bg-violet-600">
            <a
              class="no-underline text-slate-800  dark:text-gray-900 dark:hover:text-slate-300"
              href={`/tags/${tag}`}
            >
              {tag}
            </a>
          </p>
        ))
      }
    </div>
    <slot />
  </article>
</BaseLayout>
